
*.log
x64/Debug/vc142.pdb
x64/Debug/vc142.idb
x64/Debug/ProteinFold.vcxproj.FileListAbsolute.txt
x64/Debug/ProteinFold.vcxproj.CopyComplete
x64/Debug/ProteinFold.tlog/ProteinFold.lastbuildstate
x64/Debug/ProteinFold.tlog/link.read.1.tlog
x64/Debug/ProteinFold.tlog/link.write.1.tlog
x64/Debug/ProteinFold.tlog/link.command.1.tlog
x64/Debug/ProteinFold.tlog/CL.write.1.tlog
x64/Debug/ProteinFold.tlog/CL.command.1.tlog
x64/Debug/ProteinFold.tlog/CL.read.1.tlog
x64/Debug/ProteinFold.ilk
x64/Debug/ProteinFold.pdb
x64/Debug/ProteinFold.exe
x64/Debug/Map.obj
x64/Debug/ProteinFold.tlog/ProteinFold.write.1u.tlog
x64/Debug/main.obj
x64/Debug/main.new.obj.enc
x64/Debug/global.obj.enc
x64/Debug/Global.obj
Debug/ProteinFold.tlog/unsuccessfulbuild
*.lastbuildstate
*.tlog
output.png
*.ipch
*.opendb
*.db
.vs/ProteinFold/v16/.suo
*.idb
*.pdb
*.obj
